%h1= @subject.name
%p= @subject.bio
%p
Submitted by
= @subject.user.name

%br/

= link_to 'Back', root_path
= link_to 'Edit', edit_subject_path
= link_to 'Delete', subject_path, method: :delete, data: { confirm: 'Are you sure?' }
